# /var/ftp/pub/pxe/tftpboot/EFI/x86/grub.cfg

set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

### BEGIN /etc/grub.d/10_linux ###

submenu 'Install Linux, GUI Mode, x86_64 -->' {
{% for distro in distros %}
{% if "EFI" in distro.boot_methods and distro.arch == "x86_64" and distro.efi_options is defined and "gui-install" in distro.efi_options %}
{% if distro.isoURL is defined %}{% set isoFileName = distro.isoURL | basename %}{% endif %}
{% if distro.isoSrcPath is defined %}{% set isoFileName = distro.isoSrcPath | basename %}{% endif %}
  menuentry '{{ distro.displayName }} - {{ distro.protocol | upper }}' --class {{ distro.family }} --class {{ distro.name }} {
    linuxefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_kernel | basename }}{% if distro.family == "rhel" %} inst.stage2={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }} inst.repo={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }}{% elif distro.family == "ubuntu" %} root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/iso/{{ isoFileName }}{% endif %}
    
    initrdefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_initrd | basename }}
  }

{% endif %}
{% endfor %}
}

submenu 'Install Linux, Text Mode, x86_64 -->' {
{% for distro in distros %}
{% if "EFI" in distro.boot_methods and distro.arch == "x86_64" and distro.efi_options is defined and "text-install" in distro.efi_options %}
{% if distro.isoURL is defined %}{% set isoFileName = distro.isoURL | basename %}{% endif %}
{% if distro.isoSrcPath is defined %}{% set isoFileName = distro.isoSrcPath | basename %}{% endif %}
  menuentry '{{ distro.displayName }} - {{ distro.protocol | upper }}' --class {{ distro.family }} --class {{ distro.name }} {
    linuxefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_kernel | basename }}{% if distro.family == "rhel" %} inst.stage2={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }} inst.repo={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }} inst.text{% elif distro.family == "ubuntu" %} root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/iso/{{ isoFileName }}{% endif %}
    
    initrdefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_initrd | basename }}
  }
{% endif %}
{% endfor %}
}

submenu 'Rescue Linux, x86_64 -->' {
{% for distro in distros %}
{% if "EFI" in distro.boot_methods and distro.arch == "x86_64" and distro.efi_options is defined and "linux-rescue" in distro.efi_options %}
{% if distro.isoURL is defined %}{% set isoFileName = distro.isoURL | basename %}{% endif %}
{% if distro.isoSrcPath is defined %}{% set isoFileName = distro.isoSrcPath | basename %}{% endif %}
  menuentry '{{ distro.displayName }} - {{ distro.protocol | upper }}' --class {{ distro.family }} --class {{ distro.name }} {
    linuxefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_kernel | basename }}{% if distro.family == "rhel" %} inst.stage2={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }} inst.repo={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/ext/{{ isoFileName | replace('.iso','') }} inst.rescue{% elif distro.family == "ubuntu" %} root=/dev/ram0 ramdisk_size=1500000 ip=dhcp url={{ distro.protocol | lower }}://{{ pxe_server_ip }}/{{ 'pub/' if (distro.protocol|lower) == "ftp" }}{{ install_iso_mount_sub_path }}/{{ distro.arch }}/{{ distro.group }}/iso/{{ isoFileName }}{% endif %}
    
    initrdefi /EFI/{{ distro.arch }}/{{ distro.group }}/{{ distro.name }}/{{ distro.efi_initrd | basename }}
  }
{% endif %}
{% endfor %}
}