anonymous_enable=YES
local_enable=YES
write_enable=NO
local_umask=022
anon_upload_enable=NO
anon_mkdir_write_enable=NO
dirmessage_enable=YES
xferlog_enable=YES
connect_from_port_20=YES
xferlog_file=/var/log/vsftpd-xferlog
xferlog_std_format=YES
idle_session_timeout=6000
data_connection_timeout=1200
ftpd_banner={{ vsftpd_banner_message }}
#ls_recurse_enable=YES
listen=YES
listen_ipv6=NO
pam_service_name=vsftpd
userlist_enable=YES